<script type="text/ng-template" id="replyTemplate">
    <a ng-if="loggedIn" href="javascript:void(0);" ng-click="comment.reply.show = !comment.reply.show">Reply</a>

    <div ng-if="loggedIn && comment.reply.show">
      <form ng-submit="submit(comment)">
        <textarea ng-model="comment.reply.text"></textarea><br />
        <input type="submit" value="Submit!" ng-disabled="comment.reply.buttonDisabled || comment.reply.text === ''" /> {{ comment.reply.status }}
      </form>
    </div>
</script>

<script type="text/ng-template" id="commentTemplate">
  <section class="comment">
    <h3>
      {{ comment.user }}'s comment
    </h3>
    <h4>Votes: {{ comment.votes }} pt{{ (comment.votes === 1 || comment.votes === -1) ? '' : 's' }} <span ng-if="loggedIn">(<a href="javascript:void(0)" ng-click="vote(comment, 1)">+1</a> - <a href="javascript:void(comment, 0)" ng-click="vote(comment, 0)">+0</a> - <a href="javascript:void(0)" ng-click="vote(comment, -1)">-1</a>) {{ comment.vote.status }}</span></h4>
    <p>
      {{ comment.statement }}
    </p>

    <div ng-include="'replyTemplate'"></div>

    <div ng-repeat="comment in comment.comments" ng-include="'commentTemplate'">
    </div>

    <hr />
  </section>
</script>

<div ng-controller="commentsController">
  <h2>Comments on {{ feedback.user }}'s feedback</h2>

  <div ng-include="'replyTemplate'"></div>

  <div ng-repeat="comment in comments" ng-include="'commentTemplate'">
  </div>
</div>
