<script type="text/ng-template" id="replyTemplate">
    <a ng-if="auth.user != ''" href="javascript:void(0)" ng-click="comment.reply.show = !comment.reply.show">Reply</a>

    <div ng-if="auth.user != '' && comment.reply.show">
      <form ng-submit="submit(comment)">
        <textarea ng-model="comment.reply.text"></textarea><br />
        <input type="submit" value="Submit!" ng-disabled="comment.reply.buttonDisabled || comment.reply.text === ''" /> {{ comment.reply.status }}
      </form>
    </div>
</script>

<script type="text/ng-template" id="commentTemplate">
  <section class="comment {{ comment.wasRoot ? 'wasRoot' : '' }}">
    <h3>
      {{ comment.user }}'s {{ comment.wasRoot ? 'similar feedback' : 'comment' }}
    </h3>
    <h4>Votes: {{ comment.votes }} pt{{ (comment.votes === 1 || comment.votes === -1) ? '' : 's' }} <span ng-if="auth.user != ''">(<a href="javascript:void(0)" ng-click="vote(comment, 1)">+1</a> - <a href="javascript:void(0)" ng-click="vote(comment, 0)">+0</a> - <a href="javascript:void(0)" ng-click="vote(comment, -1)">-1</a>) {{ comment.vote.status }}</span></h4>
    <p>
      {{ comment.statement }}
    </p>

    <div ng-include="'replyTemplate'"></div>

    <div ng-repeat="comment in comment.comments" ng-include="'commentTemplate'">
    </div>

    <hr />
  </section>
</script>

<div ng-controller="commentsController">
  <pre ng-if="errorMessage != ''">{{ errorMessage }}</pre>

  <div ng-if="errorMessage == ''">
    <h3>
      <img src="images/star_full.png" height="24"/>
      <img src="images/star_{{ feedback.score > 1 ? 'full' : 'empty' }}.png" height="24"/>
      <img src="images/star_{{ feedback.score > 2 ? 'full' : 'empty' }}.png" height="24"/>
      <img src="images/star_{{ feedback.score > 3 ? 'full' : 'empty' }}.png" height="24"/>
      <img src="images/star_{{ feedback.score > 4 ? 'full' : 'empty' }}.png" alt="{{ feedback.score }}/5 stars" height="24"/>
      
      {{ feedback.user }}'s feedback
    </h3>

    {{ feedback.statement }}

    <div ng-include="'replyTemplate'"></div>

    <div ng-repeat="comment in comments" ng-include="'commentTemplate'">
    </div>
  </div>
</div>
