<div ng-controller="homeController">
  <h2>Feedback</h2>

  <a href="#!/addFeedback">Add feedback</a>

  <section class="feedback" ng-repeat="message in feedback">
    <h3>
      <img src="images/star_full.png" height="24"/>
      <img src="images/star_{{ message.score > 1 ? 'full' : 'empty' }}.png" height="24"/>
      <img src="images/star_{{ message.score > 2 ? 'full' : 'empty' }}.png" height="24"/>
      <img src="images/star_{{ message.score > 3 ? 'full' : 'empty' }}.png" height="24"/>
      <img src="images/star_{{ message.score > 4 ? 'full' : 'empty' }}.png" alt="{{ message.score }}/5 stars" height="24"/>
      
      {{ message.user }}'s feedback
    </h3>
    <h4>Votes: {{ message.votes }} pt{{ (message.votes === 1 || message.votes === -1) ? '' : 's' }} <span ng-if="loggedIn">(<a href="javascript:void(0)" ng-click="vote(message, 1)">+1</a> - <a href="javascript:void(message, 0)" ng-click="vote(message, 0)">+0</a> - <a href="javascript:void(0)" ng-click="vote(message, -1)">-1</a>) {{ message.vote.status }}</span></h4>
    <p>
      {{ message.statement }}
    </p>

    <p style="font-size: 0.6em;">
      <a href="#!/comments?id={{ message.id }}">Comments</a>
    </p>

    <hr />
  </section>
</div>
